{block content}
<h1 n:block=title>Stránka nenalezena</h1>

<p>Požadovaná stránka nebyla nalezena. Je možné, že je adresa
    nesprávné nebo že stránka již neexistuje.</p>

<p><small>error 404</small></p>
