{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{ifset title}{include title|stripHtml} | {/ifset}Databáze hlavolamů</title>

		<link rel="apple-touch-icon" sizes="57x57" href="{$basePath}/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{$basePath}/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{$basePath}/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{$basePath}/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{$basePath}/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{$basePath}/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{$basePath}/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{$basePath}/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{$basePath}/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{$basePath}/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicons/favicon-16x16.png">
		<link rel="manifest" href="{$basePath}/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{$basePath}/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		{block styles}
			<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
			{*<link rel="stylesheet" href="{$basePath}/css/bootstrap-theme.min.css">*}
			<link rel="stylesheet" href="{$basePath}/css/chosen.min.css">
			<link rel="stylesheet" href="{$basePath}/css/style.css">
		{/block}
		{block head}{/block}
	</head>

	<body>
		{include 'menu.latte'}
		<div class="container content">
			<p n:foreach="$flashes as $flash" class="flash bg-{$flash->type}">{$flash->message}</p>
			{include content}
		</div>
		{include 'footer.latte'}

		{block scripts}
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
			<script src="{$basePath}/js/nette.ajax.js"></script>
		<script src="{$basePath}/js/bootstrap.min.js"></script>
		<script src="{$basePath}/js/live-form-validation.js"></script>
		<script src="{$basePath}/js/main.js"></script>
			<script src="{$basePath}/js/chosen.jquery.min.js"></script>
		{/block}
	</body>
</html>
