<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; {date('Y')} {rand(0,1) == 0 ? 'Pokorný Jan, Polášek Tomáš' : 'Polášek Tomáš, Pokorný Jan'} FIT VUT</p>
    </div>
</footer>