<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" n:href="Catalog:default">Databáze hlavolamů</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li n:class="$presenter->isLinkCurrent('Catalog:*') ? active"><a n:href="Catalog:default">Katalog</a></li>
                <li n:class="$presenter->isLinkCurrent('Reservations:default') ? active"><a n:href="Reservations:">Moje rezervace</a></li>
                <li n:class="$presenter->isLinkCurrent('Reservations:all') ? active" n:if="$user->isAllowed('Reservation:manage')"><a n:href="Reservations:all">Rezervace</a></li>
                <li n:class="$presenter->isLinkCurrent('Users:default') ? active" n:if="$user->isAllowed('User:manage')"><a n:href="Users:default">Uživatelé</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li n:if="$user->isLoggedIn()"><a n:href="User:view id => $user->id">Můj účet</a></li>
                <li n:if="$user->isLoggedIn()"><a n:href="Sign:out">Odhlásit se</a></li>
                <li n:if="!$user->isLoggedIn()"><a n:href="Sign:in backlink => $presenter->storeRequest()">Přihlásit se</a></li>
            </ul>
        </div>
    </div>
</nav>