{block content}
    <h1 n:block="title">Rezervace</h1>
    <a class="btn btn-primary" n:href="Reservation:add" title="Nová rezervace">Nová rezervace</a>
    <br/><br/>
    <h2>Aktivní</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>
                    Jméno uživatele
                </th>
                <th>
                  Název hlavolamu
                </th>
                <th>
                  Půjčeno dne
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$loansNotCompleted as $loan">
                <td n:if="$loan->pp_user">{$loan->pp_user->name} {$loan->pp_user->surname}</td>
                <td n:if="!$loan->pp_user">Smazán</td>
                <td n:if="$loan->pp_teaser">{$loan->pp_teaser->name}</td>
                <td n:if="!$loan->pp_teaser">Smazán</td>
                <td>{$loan->l_from|date:'%d.%m.%Y'}</td>
                <td>
                    <a class="btn btn-primary" n:href="Reservation:edit id => $loan->id" role="button">Spravovat</a>
                    <a class="btn btn-danger" n:href="Reservation:delete id => $loan->id" role="button">Zrušit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>Problěhlé</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>
                    {include '../components/sortArrows.latte', name => 'Jméno uživatele', collumn => 'pp_user.surname'}
                </th>
                <th>
                    {include '../components/sortArrows.latte', name => 'Název hlavolamu', collumn => 'pp_teaser.name'}
                </th>
                <th>
                    {include '../components/sortArrows.latte', name => 'Půjčeno dne', collumn => 'l_from'}
                </th>
                <th>
                    {include '../components/sortArrows.latte', name => 'Vráceno dne', collumn => 'l_to'}
                </th>
                <th>
                    {include '../components/sortArrows.latte', name => 'Úspěch', collumn => 'success'}
                </th>
                <th>
                    {include '../components/sortArrows.latte', name => 'Hodnocení', collumn => 'rating'}
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$loansCompleted as $loan">
                <td n:if="$loan->pp_user">{$loan->pp_user->name} {$loan->pp_user->surname}</td>
                <td n:if="!$loan->pp_user">Smazán</td>
                <td n:if="$loan->pp_teaser">{$loan->pp_teaser->name}</td>
                <td n:if="!$loan->pp_teaser">Smazán</td>
                <td>{$loan->l_from|date:'%d.%m.%Y'}</td>
                <td>{$loan->l_to|date:'%d.%m.%Y'}</td>
                <td>{$loan->success ? 'Ano' : 'Ne'}</td>
                <td>{$loan->rating}</td>
                <td>
                    <a class="btn btn-primary" n:href="Reservation:edit id => $loan->id" role="button">Spravovat</a>
                    <a class="btn btn-danger" n:href="Reservation:delete id => $loan->id" role="button">Smazat</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation">
        {control visualPaginator}
    </nav>

{/block}
