{block content}
    <h1 n:block="title">Moje rezervace</h1>
    <h2>Aktivní</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>
                    Název hlavolamu
                </th>
                <th>
                    Půjčeno dne
                </th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$loansNotCompleted as $loan">
                <td n:if="$loan->pp_teaser">{$loan->pp_teaser->name}</td>
                <td n:if="!$loan->pp_teaser">Smazán</td>
                <td>{$loan->l_from|date:'%d.%m.%Y'}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>Problěhlé</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>
                    {include '../components/sortArrows.latte', name => 'Název hlavolamu', collumn => 'pp_teaser.name'}
                </th>
                <th>
                    {include '../components/sortArrows.latte', name => 'Půjčeno dne', collumn => 'l_from'}
                </th>
                <th>
                    {include '../components/sortArrows.latte', name => 'Vráceno dne', collumn => 'l_to'}
                </th>
                <th>
                    {include '../components/sortArrows.latte', name => 'Úspěch', collumn => 'success'}
                </th>
                <th>
                    {include '../components/sortArrows.latte', name => 'Hodnocení', collumn => 'rating'}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$loansCompleted as $loan">
                <td n:if="$loan->pp_teaser">{$loan->pp_teaser->name}</td>
                <td n:if="!$loan->pp_teaser">Smazán</td>
                <td>{$loan->l_from|date:'%d.%m.%Y'}</td>
                <td>{$loan->l_to|date:'%d.%m.%Y'}</td>
                <td>{$loan->success ? 'Ano' : 'Ne'}</td>
                <td>{$loan->rating}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation">
        {control visualPaginator}
    </nav>

{/block}
