<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Zapomenuté heslo</title>
</head>
<body>
<p>Zapoměl jste heslo?</p>

<p>Nevadí. To se stává.</p>
<p>Své heslo si můžete obnovit do 24 hodin <a n:href="//Sign:rescue email => $email, token => $token">zde</a>.</p>
</body>
</html>