<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Vítame nového člena</title>
</head>
<body>
<p>Vítáme nového člena.</p>

<p>Děkujeme, že jste si vybrali právě nás. Přihlásit do sytému se můžete <a n:href="//Sign:in">zde</a>.</p>
</body>
</html>