{$name}
<span class="sort-arrows visible-inline-block">
    <a n:href="this sort => 'ASC', sortBy => $collumn" n:class="($presenter->sort == 'ASC'  && $presenter->sortBy == $collumn) ? active">
        <span class="glyphicon glyphicon glyphicon-menu-up" aria-hidden="true"></span>
    </a>
    <a n:href="this sort => 'DESC', sortBy => $collumn" n:class="($presenter->sort == 'DESC'  && $presenter->sortBy == $collumn) ? active">
        <span class="glyphicon glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </a>
</span>