{block content}
    <h1 n:block="title">Katalog</h1>
    {if $user->isAllowed('Teaser:edit')}
        <a class="btn btn-primary" n:href="Teaser:add" title="Přidat nový">Přidat nový</a>
        <br/><br/>
    {/if}
    <div class="clearfix"></div>
    {form filterForm class => "form-inline catalog-filter active-chosen"}
        <div
                n:foreach="$form->controls as $name => $input"
                n:if="!$input->getOption(rendered) && $input->getOption(type) !== hidden"
                n:class="form-group, $input->required ? required, $input->error ? has-error"
        >
            {label $input}
            {input $input class => form-control}
        </div>
        <button type="submit" class="btn btn-default">Filtrovat</button>
    {/form}
    <br/>
    {snippet list}
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>
                        {include '../components/sortArrows.latte', name => 'Typ', collumn => 'pp_teaser_type.name'}
                    </th>
                    <th>
                        {include '../components/sortArrows.latte', name => 'Název', collumn => 'name'}
                    </th>
                    <th>
                        {include '../components/sortArrows.latte', name => 'Obtížnosti', collumn => ':pp_teaser_diff.pp_difficulty.value'}
                    </th>
                    <th>
                        {include '../components/sortArrows.latte', name => 'Autor', collumn => 'author_surname'}
                    </th>
                    <th>
                        {include '../components/sortArrows.latte', name => 'Země původu', collumn => 'country'}
                    </th>
                    <th>
                        Vyřešen
                    </th>
                    <th>
                        Zapůjčen
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr n:foreach="$teasers as $teaser">
                    <td>{$teaser->type_name}</td>
                    <td>{$teaser->name}</td>
                    <td>{$teaser->difficulty}</td>
                    <td>{ifset $teaser->author_name}{$teaser->author_name}{/ifset} {ifset $teaser->author_surname}{$teaser->author_surname}{/ifset}</td>
                    <td>{$teaser->country}</td>
                    <td>{$teaser->solved}</td>
                    <td>{$teaser->borrowed}</td>
                    <td><a class="btn btn-primary btn-block" n:href="Teaser:view id => $teaser->id"
                           role="button">Detail</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation">
            {control visualPaginator}
        </nav>
    {/snippet}
{/block}
