{layout '../@layout.latte'}
{block content}
    <h1 n:block="title">Přidat hlavolam</h1>
    <div class="row">
        <div class="col-md-7">
            {import '../components/bootstrap-form.latte'}
            {include bootstrap-form addForm}
        </div>
    </div>
{/block}
{block scripts}
    {include parent}
    <script src="{$basePath}/js/bootstrap3-wysihtml5.all.min.js"></script>
{/block}
{block styles}
    {include parent}
    <link rel="stylesheet" href="{$basePath}/css/bootstrap3-wysihtml5.min.css">
{/block}