{layout '../@layout.latte'}
{block title}Editace - {$teaser->name}{/block}
{block content}
    <form n:name=editForm class=form-horizontal>
        <ul class=error n:if="$form->ownErrors">
            <li n:foreach="$form->ownErrors as $error">{$error}</li>
        </ul>
        <h1>Upravit hlavolam</h1>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div n:foreach="$form->controls as $name => $input"
                            n:if="!$input->getOption(rendered) && $input->getOption(type) !== hidden"
                            n:class="form-group, $input->required ? required, $input->error ? has-error">
                        {continueIf $input->getName() == 'solution'}
                        <div class="col-sm-3 control-label">{label $input}</div>
                        <div class="col-sm-7">
                            {if $input->getOption(type) in [text, select, textarea]}
                                {input $input class => form-control}
                            {elseif $input->getOption(type) === button}
                                {input $input class => "btn btn-default btn-primary"}
                            {elseif $input->getOption(type) === checkbox}
                                <div class="checkbox">{input $input}</div>
                            {elseif $input->getOption(type) === radio}
                                <div class="radio">{input $input}</div>
                            {else}
                                {input $input}
                            {/if}
                            <span class=has-error n:ifcontent>{$input->error}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        {label solution}
                        {input solution class => 'form-control'}
                        <span class=has-error n:ifcontent>{$input->error}</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <h2>Obtížnosti</h2>
            <form n:name="editDifficultyForm" class="form-inline active-chosen">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Typ:</th>
                        <th>Hodnota:</th>
                        <th></th>
                    </tr>
                    <tr n:foreach="$teaser->related('pp_teaser_diff') as $diff">
                        <td>{$diff->pp_difficulty->value}</td>
                        <td>{$diff->value}</td>
                        <td>
                            <a
                                    href="javascript:void(0)"
                                    class="btn btn-warning edit-difficulty"
                                    data-diff-id="{$diff->pp_difficulty->id}"
                                    data-diff-value="{$diff->value}"
                            >
                                Upravit
                            </a>
                            <a
                                    n:href="Teaser:deleteDiff teaserId => $teaser->id, difficultyId => $diff->pp_difficulty->id"
                                    class="btn btn-danger"
                            >
                                Smazat
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                {label difficultyId class => sr-only}
                                {input difficultyId class => form-control}
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                {label value class => sr-only}
                                {input value class => form-control}
                            </div>
                        </td>
                        <td>
                            {input save class => 'btn btn-default btn-primary'}

                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{/block}
{block scripts}
    {include parent}
    <script src="{$basePath}/js/bootstrap3-wysihtml5.all.min.js"></script>
{/block}
{block styles}
    {include parent}
    <link rel="stylesheet" href="{$basePath}/css/bootstrap3-wysihtml5.min.css">
{/block}