{layout 'view.latte'}

{block puzzle}
    <p>
        <b>Autor:</b> {$teaser->author_name} {$teaser->author_surname}
    </p>
    <p>
        <b>Téma:</b> {$teaser->theme}
    </p>
    <p>
        <b>Počet dílků:</b> {$teaser->pieces |number:0:',':' '}
    </p>
{/block}