{layout 'view.latte'}

{block riddle}
    <p>
        <b>Autor:</b> {$teaser->author_name} {$teaser->author_surname}
    </p>
    <p>
        <b>Jazyk:</b> {$teaser->language}
    </p>
    <p>
        <b>Nejlepší čas řešení:</b> {$teaser->best_time}
    </p>
{/block}