{layout '../@layout.latte'}
{block content}

<h1 n:block="title">{$teaser->name}</h1>
<div class="row">
    <div class="col-sm-6">
        <p>
            <b>Typ:</b> {$teaser->type_name}
        </p>
        <p>
            <b>Původ:</b> {$teaser->country}
        </p>
        {block riddle}{/block}
        {block puzzle}{/block}
        <p>
            <b>{$user->isLoggedIn() ? 'Vyřešen mnou:' : 'Vyřešen:'}</b> {$teaser->solved}
        </p>
        <p>
            <b>Zapůjčen:</b> {$teaser->borrowed}
        </p>
        <p>
            <b>Obtížnost:</b>
        <ul>
            {foreach $teaser->difficulty as $name => $value}
                <li><b>{$name}:</b> {$value}</li>
            {/foreach}
        </ul>
        </p>
    </div>
</div>

<div class="modal fade" id="solutionModal" tabindex="-1" role="dialog" aria-labelledby="Řešení">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
               {$teaser->solution|noescape}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
</div>


<button n:if="$teaser->solution" type="button" class="btn btn-primary" data-toggle="modal" data-target="#solutionModal">Zobrazit řešení</button>
<a class="btn btn-primary" n:if="$user->isAllowed('Reservation:manage')" n:href="Reservation:add teaserId => $teaser->id"
        role="button">Vypůjčit
</a>
<a class="btn btn-warning" n:if="$user->isAllowed('Teaser:edit')" n:href="Teaser:edit id => $teaser->id" role="button">Editovat</a>
<a class="btn btn-danger" n:if="$user->isAllowed('Teaser:edit')" n:href="Teaser:delete id => $teaser->id" role="button">Smazat</a>