{layout '../@layout.latte'}
{block content}
    <h1 n:block="title">Upravit rezervaci</h1>
    <div class="row">
        <div class="col-md-6">
            {import '../components/bootstrap-form.latte'}
            {include bootstrap-form editForm}
        </div>
    </div>
{/block}
{block scripts}
    {include parent}
    <script src="{$basePath}/js/moment.js"></script>
    <script src="{$basePath}/js/moment-cs.js"></script>
    <script src="{$basePath}/js/bootstrap-datetimepicker.min.js"></script>
{/block}
{block styles}
    {include parent}
    <link rel="stylesheet" href="{$basePath}/css/bootstrap-datetimepicker.min.css">
{/block}