{block content}
    <h1 n:block="title">Uživatelé</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>
                    {include '../components/sortArrows.latte', name => 'Jméno a příjmení', collumn => 'surname'}
                </th>
                <th>
                    {include '../components/sortArrows.latte', name => 'Rodné číslo', collumn => 'rc'}
                </th>
                <th>
                    {include '../components/sortArrows.latte', name => 'E-mail', collumn => 'email'}
                </th>
                <th>
                    {include '../components/sortArrows.latte', name => 'Role', collumn => 'role'}
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$users as $userData">
                <td>{$userData->name} {$userData->surname}</td>
                <td>{$userData->rc}</td>
                <td>{$userData->email}</td>
                <td>{$userData->role}</td>
                <td><a n:href="User:view id => $userData->id" class="btn btn-primary">Detail</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation">
        {control visualPaginator}
    </nav>

{/block}
