{block content}
<h1 n:block=title>Editace uživatele</h1>
<div class="row">
    <div class="col-md-6">
        {import '../components/bootstrap-form.latte'}
        {include bootstrap-form editForm}
    </div>
</div>
