{layout '../@layout.latte'}
{block content}

<h1 n:block="title">{$userData->name} {$userData->surname}</h1>
<div class="row">
    <div class="col-sm-6">
        <p>
            <b>Rodné číslo:</b> {$userData->rc}
        </p>
        <p>
            <b>E-mail</b> {$userData->email}
        </p>
        <p>
            <b>Ulice:</b> {$userData->street}
        </p>
        <p>
            <b>Město:</b> {$userData->city}
        </p>
        <p>
            <b>PSČ:</b> {$userData->zip}
        </p>
        <p>
            <b>Země</b> {$userData->country}
        </p>
        <p>
            <b>Role</b> {$userData->role}
        </p>
    </div>
</div>
<a class="btn btn-warning" n:href="User:edit id => $userData->id" role="button">Editovat</a>
<a n:href="delete id => $userData->id" class="btn btn-danger">Smazat</a>
