{block content}
<div class="margig-top">
    <div class="row">
        <div class="col-md-5 col-md-offset-3 page-form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" n:block="title">Zapomenuté heslo</h3>
                </div>
                <div class="panel-body">
                    <form n:name=signForgotForm class=form-signin>
                        <p class="bg-danger" n:foreach="$form->getErrors() as $error">{$error}</p>
                        <div class="form-group">
                            <label n:name=email class="sr-only">E-mail: </label>
                            <input n:name=email size=20 class="form-control no-live-validation" placeholder="E-mail">
                        </div>
                        <input n:name=send class="btn btn-lg btn-primary btn-block">
                        <div>
                            <br/>
                            <a n:href="in">Vzpomněli jste si? Přihlaste se.</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
