{block content}

<div class="margig-top">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <div class=" panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" n:block="title">Přihlášení</h3>
                </div>
                <div class="panel-body">
                    <form n:name=signInForm class=form-signin>
                        <p class="bg-danger" n:foreach="$form->getErrors() as $error">{$error}</p>
                        <label n:name=email class="sr-only">E-mail: </label>
                        <input n:name=email size=20 class="form-control no-live-validation" placeholder="E-mail">

                        <label n:name=password class="sr-only">Heslo: </label>
                        <input n:name=password class="form-control no-live-validation" placeholder="Heslo">

                        <div class="checkbox">
                            <label n:name=remember>
                                <input n:name=remember class="no-live-validation">
                                Zapamatovat
                            </label>
                        </div>

                        <input n:name=send class="btn btn-lg btn-primary btn-block">
                        <div>
                            <br/>
                            <a n:href="up">Nejste zaregistrování? Registujte se!</a>
                            <br/>
                            <a n:href="forgot">Zapomněli jste heslo? Obnovit heslo!</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


