{block content}
<div class="margig-top">
    <div class="row">
        <div class="col-md-5 col-md-offset-3 page-form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" n:block="title">Obnova hesla</h3>
                </div>
                <div class="panel-body">
                    <form n:name=signRescueForm class=form-signin>
                        <p class="bg-danger" n:foreach="$form->getErrors() as $error">{$error}</p>

                        <label n:name=password class="sr-only">Nové heslo: </label>
                        <input n:name=password size=20 class="form-control" placeholder="Nové heslo">

                        <label n:name=password2 class="sr-only">Nové heslo: </label>
                        <input n:name=password2 size=20 class="form-control" placeholder="Opět nové heslo">

                        <input n:name=send class="btn btn-lg btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
