{block content}
<h1 n:block=title>Registrace</h1>
<div class="row">
    <div class="col-md-6">
        {import '../components/bootstrap-form.latte'}
        {include bootstrap-form signUpForm}
    </div>
</div>

<p><a n:href="in">Máte již účet? Přihlaste se.</a></p>
